@import "../styles/mixins";

.SummonerBasicInfo {
  width: rem(100);
  height: rem(17.3);
  position: relative;
}

  .SummonerBasicInfo__box {
    padding-left: rem(3.5);
  }

  .SummonerBasicInfo__loading {
    position: absolute;
    top: 45%;
    left: 45%;
  }
