@import "../styles/mixins";

.HomeSearchBar {
  width: 60%;
  height: rem(6);
  border-radius: rem(5);
  background-color: #fff;
  display: flex;
  padding-left: rem(3.5);
}

  .HomeSearchBar__main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

    .HomeSearchBar__main__title {
      font-size: rem(1.2);
      font-weight: bold;
      font-style: normal;
      font-family: Roboto, sans-serif;
    }

    .HomeSearchBar__main__input {
      font-size: rem(1.6);
      border: none;
      font-style: normal;
      font-family: Roboto, sans-serif;
      padding: 0px;

      &:focus {
        outline: none;
      }
    }

  .HomeSearchBar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: rem(8);
    cursor: pointer;
  }
