@import "../styles/mixins";

.ItemLogo {
  border-radius: rem(.2);
  margin-right: rem(.2);
}

  .ItemLogo__dummy {
    background-color: #cb9e9a;
    width: 22px;
    height: 22px;
    border-radius: rem(.2);
    margin-right: rem(.2);

    &--win {
      background-color: #7aa5c3;
    }
  }
