@charset 'utf-8';

@import "styles/mixins";

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/gilroy-extrabold-webfont.woff2') format('woff2'),
       url('./assets/fonts/gilroy-extrabold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/gilroy-light-webfont.woff2') format('woff2'),
       url('./assets/fonts/gilroy-light-webfont.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'), url('./assets/fonts/roboto-bold.woff2') format('woff2');
  unicode-range: U+0030-0039;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url('./assets/fonts/roboto.woff2') format('woff2');
  unicode-range: U+0030-0039;
}

html, body {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
  font-family: 'Roboto', 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif', 'sans-serif', 'Apple SD Gothic Neo', 'Helvetica Neue', 'Arial';

  &.disableScroll {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

:root {
  --theme-button-display: inline-block;
  // @include light-theme-scheme;

  // @media (prefers-color-scheme: light) {
  //   @include light-theme-scheme;
  // }
}

// html {
//   @include transition(background-color color, .15s);

//   &[data-theme="dark"] { @include dark-theme-scheme; }
//   &[data-theme="light"] { @include light-theme-scheme; }
// }

html, body {
  margin: 0;
  padding: 0;
  touch-action: manipulation;

  @include mobile {
    font-size: 14px;
  }

  @media (max-width: $tiny-width) {
    font-size: 12px;
  }
}

.Noscript {
  position: fixed;
  bottom: 0;
  left: 0;
  font-weight: bold;
  padding: 1rem 2rem;
  // background-color: rgba($pure-white, .5);
  // color: $primary;
}

a {
  // color: $black;
  text-decoration: none;
  transition: color 150ms ease;

  &:hover {
    // color: $gray;
    text-decoration: none;
  }
}

.Gilroy {
  font-family: 'Gilroy', 'Roboto', 'Spoqa Han Sans', 'Spoqa Han Sans JP', Sans-Serif;
  font-weight: bold;
}

.Gilroy--light {
  font-family: 'Gilroy', 'Roboto', 'Spoqa Han Sans', 'Spoqa Han Sans JP', Sans-Serif;
  font-weight: lighter;
}

.Spoqa {
  font-family: 'Roboto', 'Spoqa Han Sans', 'Spoqa Han Sans JP', Sans-Serif;
}
